@font-face {
  font-family: "hamurz_free_versionregular";
  src: url("../fonts/hamurz_free_version-webfont.woff2") format("woff2"),
    url("../fonts/hamurz_free_version-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar {
  width: 0;
}

/* Nav Bar */
.main-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-nav ul {
  display: inline-flex;
  flex-direction: column;
  opacity: 0;
}

.link1 {
  order:1;
}
.link2 {
  order:2;
}
.link3 {
  order:3;
}
.link4 {
  display: none;
  order:4;
}
.link5 {
  order:5;
}
.link6 {
  order:6;
}
.link7 {
  order:7;
}


.main-nav ul li  .nav-link:hover{
  transition: all 0.3s ease-out;
  color: #F9E6CB;
  text-shadow: 2px 2px 1px #440e38;
}
.logo {
  width: 15rem;
  height: 15rem;
}

.logoPpal{
  width: 15rem;
  height: 15rem;
  position: absolute;
  top:-3rem;
  left: -1rem;
  z-index: 82;
  opacity: 0;
  transition: all 0.5s ease;
}

.logoTransition {
  transition: all 1s ease-in-out;
  transform: scale(1);
  margin: -4.5rem auto;
  opacity: 1;
}

/* Overlay Menu */
.overlay {
  position: fixed;
  background: #eebd06;
  top: 12px;
  right: 0%;
  width: 60px;
  height: 60px;
  opacity: 0;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 60;
  overflow-y: hidden;
}

.overlayScale {
  opacity: 1;
  transform: scale(40);
  font-size: 10px;
}

.overlay-bar {
  position: absolute;
  color:red;
 
}


/* Hambuger Menu */

.wrapper-hamburger {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 3rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-hamburger .menu {
  display: block;
  opacity: 0;
  width: 30px;
  height: 30px;
  position: relative;
  background: white;
  z-index: 80;
}

label {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  top: 13px;
  background-color: #440e38;
  transition: all ease-in-out 0.2s;
  z-index: 80;
  opacity: 0;
}

label::after {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  content: "";
  top: -8px;
  background-color: #440e38;
  transition: all ease-in-out 0.2s;
  z-index: 80;
}

label::before {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 0;
  content: "";
  top: 8px;
  background-color: #440e38;
  transition: all ease-in-out 0.2s;
  z-index: 80;
}

.menu:checked ~ label::after {
  transform: rotate(45deg) translateY(5px) translateX(5px);
}
.menu:checked ~ label::before {
  transform: rotate(-45deg) translateY(-6px) translateX(6px);
}
.menu:checked ~ label {
  background-color: transparent;
}
